<h2>Create User</h2>
<form>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName">
    <label for="pass">password</label>
    <input type="password" name="password" id="pass">
    <label for="dateOfBirth">Birth Date</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth">
    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</form>