<h2>Create User</h2>
<form>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" value="<%= name.first%>">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" value="<%= name.last%>">
    <label for="dateOfBirth">Birth Date</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth" value="<%= dateOfBirth %>">
    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</form>