<div id="friendHolder">
    <% for(var i in friends) { %>
    <div id=<%= friends[i]._id %> class="oneFriend">
        <div id="avatarHolder" class="media-left">
            <img class="media-object" id="avatar" src=<%= friends[i].photo %>>
        </div>
        <div id="userInfo">
            <span class="label">First Name: </span>
            <span id="firstName"><%= friends[i].firstName %></span><br>
            <span class="label">Last Name: </span>
            <span id="lastName"><%= friends[i].lastName %></span><br>
            <span class="label">Date of birth: </span>
            <span id="dateOfBirth"><%= friends[i].dateOfBirth %></span><br>
            <span class="label">E-Mail: </span>
            <span id="email"><%= friends[i].email %></span><br>
            <span class="label">Address: </span>
            <span id="address"><%= friends[i].address %></span><br>
            <span class="label">Location: </span>
            <span id="location"><%= friends[i].location %></span><br>
            <button class="unFriendBtn" id=<%= friends[i]._id %>>Remove from Friends</button>
            <!--<button class="chatBtn" id=<%= friends[i]._id %>>Chat</button>-->
        </div>
    </div>
    <% } %>
</div>