<h3>New Post:</h3>
<div id="newFeed">
    <span class="label">Topic: </span>
    <input type="text" id="feedTopic">
    <br>
    <textarea name="feed" id="feedText" cols="53" rows="3"></textarea>
    <br>
    <button id="postBtn">Post</button>
</div>
<br>
<h2>My Posts:</h2>
<div id="allMyFeeds">
    <% for(var feed in feeds) { %>
    <div id=<%= feeds[feed]._id %> class="oneFeed">
        <span class="label">Topic: </span>
        <span class="feedsTopic"><%= feeds[feed].topic%></span>
        <span class="label">Posted: </span>
        <span class="postedDate"><%= feeds[feed].dateOfPost%></span><br>
        <p class="feedText">
            <%= feeds[feed].text%>
        </p>
        <!--  <button id=<%= feeds[feed]._id %> class="editBtn">Edit</button> -->
        <button id=<%= feeds[feed]._id %> class="deleteBtn">Delete</button>
        <span class="likes"><%= feeds[feed].likes || 0 %> Likes</span><br>
    </div>
    <% } %>
</div>