<h1>News:</h1>
<br>
<div id="allMyFeeds">
    <% for(var feed in feeds) { %>
    <div class="oneFeed media">
        <div class="miniAvatarHolder media-left">
            <img class="miniAvatar media-object" src=<%= feeds[feed].photo %>>
            <span id="firstName"><%= feeds[feed].userName %></span>
        </div>
        <div class="feedInfo media-body">
        <span class="label">Posted: </span>
        <span class="postedDate"><%= feeds[feed].dateOfPost%></span><br>
        <span class="label">Topic: </span>
        <span class="feedsTopic"><%= feeds[feed].topic%></span>
        <p class="feedText">
            <%= feeds[feed].text%>
        </p>
        </div>
        <button id=<%= feeds[feed]._id %> class="likeBtn">Like</button>
        <span class="likes"><%= feeds[feed].likes || 0 %> Likes</span>
    </div>
    <% } %>
</div>