<div id="avatarHolder" class="media-left" xmlns="http://www.w3.org/1999/html">
    <img id="avatar" class="media-object" src=<%= user.photo %>><br>
    <span class="label">Photo URL:</span><br>
    <input type="text" id="photoURL" value=<%= user.photo %>></input>
</div>
<div id="userInfo">
    <h3>Profile:</h3>
    <span class="label">First Name: </span>
    <input type="text" id="firstName" value=<%= user.firstName %>></input><br>
    <span class="label">Last Name: </span>
    <input type="text" id="lastName" value=<%= user.lastName %>></input><br>
    <span class="label">Date of birth: </span>
    <input type="date" id="dateOfBirth" value=<%= user.dateOfBirth %>></input><br>
    <span class="label">E-Mail: </span>
    <input type="email" id="email" value=<%= user.email %>></input><br>
    <span class="label">New password: </span>
    <input type="password" id="password"/><br>
    <span class="label">Address: </span>
    <input type="text" id="address" value=<%= user.address %>></input><br>
    <span class="label">Location: </span>
    <input type="text" id="location" value=<%= user.location %>></input>
    <button id="locateBtn">Find</button><br>
    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</div>
