<div id="avatarHolder">
    <img id="avatar" src="http://www.gravatar.com/avatar/ee22680775bac8568077181682ca6107?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png"
     alt="">
</div>
<div id="userInfo">
    <h3>Profile:</h3>
    <span class="label">First Name: </span>
    <span id="firstName"><%= user.firstName %></span><br>
    <span class="label">Last Name: </span>
    <span id="lastName"><%= user.lastName %></span><br>
    <span class="label">Date of birth: </span>
    <span id="dateOfBirth"><%= user.dateOfBirth %></span><br>
    <span class="label">E-Mail: </span>
    <span id="email"><%= user.email %></span><br>
    <span class="label">Address: </span>
    <span id="address"><%= user.address %></span><br>
    <span class="label">Location: </span>
    <span id="location"><%= user.location %></span><br>
    <button id="editBtn">Edit</button>
</div>
