<div id="avatarHolder">
    <img id="avatar" src="http://www.gravatar.com/avatar/ee22680775bac8568077181682ca6107?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png"
     alt="">
</div>
<div id="userInfo">
    <h3>Profile:</h3>
    <span class="label">First Name: </span>
    <input type="text" id="firstName" value=<%= user.firstName %>></input><br>
    <span class="label">Last Name: </span>
    <input type="text" id="lastName" value=<%= user.lastName %>></span><br>
    <span class="label">Date of birth: </span>
    <input type="date" id="dateOfBirth" value=<%= user.dateOfBirth %>></span><br>
    <span class="label">E-Mail: </span>
    <input type="text" id="email" value=<%= user.email %>></span><br>
    <span class="label">Address: </span>
    <input type="text" id="address" value=<%= user.address %>></span><br>
    <span class="label">Location: </span>
    <input type="text" id="location" value=<%= user.location %>></span><br>
    <button id="saveBtn">Save</button>
    <button id="cancelBtn">Cancel</button>
</div>
