<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Recover Password</strong>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" id="recoverBtn">Recover</button>
                                <a href="#myApp/login" class=""> Login</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">Recovery link will be send to your email
                </div>
            </div>
        </div>
    </div>
</div>