body {
    padding: 10px;
}

.form-group.required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

#avatar {
    height: 150px;
}

#avatarHolder, #userInfo {
    display: table-cell;
    margin: 20px;
    padding: 20px;
}

#profile {
    display: table;
    padding: 0px;
}

.label {
    color: black;
    font-weight: bold;
}

.oneFeed {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 440px;
}

.oneFriend {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 700px;
}

.miniAvatarHolder .feedInfo {
    display: table-cell;
}

.miniAvatar {
    width: 50px;
}

.alert-success, .alert-info {
    margin: 5px;
    padding: 0px;
}

